.App {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

form {
  align-self: center;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 4;
  height: 50%;
  width: 50%;
}

#input {
  grid-column: 1 /5;
  grid-row: 1;
}

button {
  height: 100%;
  width: 100%;
}

.btn-div {
  padding: 0;
  margin: 3px;
}
.btn1 {
  grid-column: 1;
  grid-row: 2;
}

.btn2 {
  grid-column: 2;
  grid-row: 2;
}
